// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.shrink {
  height: .75em;
  line-height:.75em;
  padding: 2em 0;
  margin: 2em 0;
}

md-card {
  max-width: 370px;
  min-width: 370px;
  img {
    width: 50px;
    padding-right: 1em;
  }
}

md-toolbar h2 {
  color: #fff;
}

.md-chip {
  height: .75em;
  line-height: .75em;
  background: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.techs {
  display: flex;
  flex-flow: row wrap;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
