<div layout="column">
    <md-content layout-padding>
        <p>
            This site performs some pre-configured searches against the <a href="https://developer.github.com/v3/">GitHub Developer API</a> to try to compile a list of repositories that are involved in the <a href="https://18f.gsa.gov/">18F</a> <a href="https://18f.gsa.gov/2015/06/15/agile-bpa-is-here/">Agile Delivery Services Blanket Purchase Agreement (BPA)</a> Request For Quotation (RFQ) process.
        </p>
        <p>It was created by <a href="http://github.com/LinuxBozo">M. Adam Kendall (LinuxBozo)</a> as an experiment with Google's <a href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a>, and specifically <a href="https://material.angularjs.org">Angular Material</a> within <a href="http://angularjs.org">AngularJS</a>.
        </p>
        <md-divider></md-divider>
        <p><em>
            This site is in no way endorsed or approved by <a href="">18F</a> or the <a href="http://www.gsa.gov">U.S. General Services Administration</a> (GSA), nor by my employer, <a href="http://www.devis.com">Devis</a>.
        </em></p>
    </md-content>
</div>