<div layout="vertical" layout-fill>
  <md-content>
    <span class="md-toolbar md-toolbar-tools shrink"><h2>Total Repos Found: {{ repos.length }}</h2></span>
    <md-toolbar class="md-hue-1" layout="row" layout-align="space-between center">
      <span>
        <span class="md-toolbar-tools">Sort:</span>
        <md-button class="md-raised md-primary" ng-click="setOrder('pushed_at')">Pushed
          <md-icon ng-if="!orderAsc && orderColumn == 'pushed_at'" md-font-set="material-icons" aria-label="Sort Descending">keyboard_arrow_down</md-icon>
          <md-icon ng-if="orderAsc && orderColumn == 'pushed_at'" md-font-set="material-icons" aria-label="Sort Ascending">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="setOrder('updated_at')">Updated
          <md-icon ng-if="!orderAsc && orderColumn == 'updated_at'" md-font-set="material-icons" aria-label="Sort Descending">keyboard_arrow_down</md-icon>
          <md-icon ng-if="orderAsc && orderColumn == 'updated_at'" md-font-set="material-icons" aria-label="Sort Ascending">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="setOrder('created_at')">Created
          <md-icon ng-if="!orderAsc && orderColumn == 'created_at'" md-font-set="material-icons" aria-label="Sort Descending">keyboard_arrow_down</md-icon>
          <md-icon ng-if="orderAsc && orderColumn == 'created_at'" md-font-set="material-icons" aria-label="Sort Ascending">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="setOrder('open_issues_count')">Issues
          <md-icon ng-if="!orderAsc && orderColumn == 'open_issues_count'" md-font-set="material-icons" aria-label="Sort Descending">keyboard_arrow_down</md-icon>
          <md-icon ng-if="orderAsc && orderColumn == 'open_issues_count'" md-font-set="material-icons" aria-label="Sort Ascending">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="setOrder('forks_count')">Forks
          <md-icon ng-if="!orderAsc && orderColumn == 'forks_count'" md-font-set="material-icons" aria-label="Sort Descending">keyboard_arrow_down</md-icon>
          <md-icon ng-if="orderAsc && orderColumn == 'forks_count'" md-font-set="material-icons" aria-label="Sort Ascending">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="setOrder('stargazers_count')">Stars
          <md-icon ng-if="!orderAsc && orderColumn == 'stargazers_count'" md-font-set="material-icons" aria-label="Sort Descending">keyboard_arrow_down</md-icon>
          <md-icon ng-if="orderAsc && orderColumn == 'stargazers_count'" md-font-set="material-icons" aria-label="Sort Ascending">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="setOrder('language')">Language
          <md-icon ng-if="!orderAsc && orderColumn == 'language'" md-font-set="material-icons" aria-label="Sort Descending">keyboard_arrow_down</md-icon>
          <md-icon ng-if="orderAsc && orderColumn == 'language'" md-font-set="material-icons" aria-label="Sort Ascending">keyboard_arrow_up</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="setOrder('owner.type')">Org/User
          <md-icon ng-if="!orderAsc && orderColumn == 'owner.type'" md-font-set="material-icons" aria-label="Sort Descending">keyboard_arrow_down</md-icon>
          <md-icon ng-if="orderAsc && orderColumn == 'owner.type'" md-font-set="material-icons" aria-label="Sort Ascending">keyboard_arrow_up</md-icon>
        </md-button>
      </span>
    </md-toolbar>
    <section class="techs" layout-align="center">
      <md-card class="md-default-theme" ng-repeat="repo in repos | orderBy:order">
        <md-card-content>
          <md-list-item class="md-3-line contact-item">
            <img ng-src="{{ repo.owner.avatar_url }}" class="md-avatar" alt="{{ repo.owner.login }}">
            <div class="md-list-item-text">
              <h3 class="md-title">{{ repo.owner.login }}</h3>
              <h4><a ng-href="{{ repo.html_url }}">{{ repo.name }}</a></h4>
              <p>Created: {{ repo.created_at | date:'medium' }}</p>
              <p>Updated: {{ repo.updated_at | date:'medium' }}</p>
              <p>Pushed: <a href="https://github.com/{{ repo.full_name }}/branches">{{ repo.pushed_at | date:'medium' }}</a></p>
            </div>
          </md-list-item>
          <md-list-item class="md-3-line">
            <p>Issues: <a href="https://github.com/{{ repo.full_name }}/issues">{{ repo.open_issues_count }}</a></p>
            <p>Forks: <a href="https://github.com/{{ repo.full_name }}/network/members">{{ repo.forks_count }}</a></p>
            <p>Stars: <a href="https://github.com/{{ repo.full_name }}/stargazers">{{ repo.stargazers_count }}</a></p>
          </md-list-item>
        </md-card-content>
        <div layout="row" layout-align="end center">
          <div class="md-chips">
            <md-button ng-if="repo.description" class="md-raised pull-left" ng-click="showDescription($event, repo.name, repo.description)" flex flex-md="100">Show Description</md-button>
            <span ng-if="repo.owner.type === 'Organization'" class="pull-left md-chip">ORG</span>
            <span ng-if="repo.language" class="md-chip">{{repo.language}}</span>
          </div>
        </div>
      </md-card>
    </section>
  </md-content>
</div>
